[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LearnVizLMM"]
	path = LearnVizLMM
	url = https://github.com/kzavez/learnvizlmm
